.body {
    padding-top: 100px;
    width: 100%;
    margin: auto;
    position: relative;
    color: #555;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #FFFAFA;
}

/* Home Page */
.teamphoto {
	position: relative;
	max-width: 100%;
    height: auto !important;
}

.home {
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
}

/* Contact Page */
.contact {
    display: block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/* Location Page */

.location-info {
	display: block;
	text-align: left;
	font-size: 15px;
	padding: 2em 15em;
}

.about {
    background-color: #FFFAFA;
}

.media {
	width: 100%;
	height: auto;
	padding-bottom: 40px;
	position: relative;
}

.vids {
	display: block;
	margin: 0 auto;
}

.carousel-wrapper {
	padding-bottom: 20px;
	position: relative;
	max-width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}

hr {
	display: block;
    height: 1px;
    background: transparent;
    width: 5%;
    border: none;
    border-top: solid 1px black;
}

/* Roster Page */
.roster {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/* Schedule Page */
.schedule {
    display: block;
	padding-top: 20px;
	padding-bottom: 40px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Navbar */
.navbar {
	border: 1px;
	background-color: #005FA9;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    margin-bottom: 0px;
}

.navbar a {
    color: #eee !important;
}

.navbar .active a {
    color: black !important;
}

.navbar .navbar-nav > li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 20px;
    width: auto;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: #005FA9;
}

/* Footer */
footer {
	background-color: #939597;
}

h1, h2, strong {
    color: #333;
}

.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #939597;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
	height: auto;
}

.copyright {
	font-size: 10px;
}

.icon:hover {
	opacity: 0.6;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	text-decoration: none;
}

.icon-bar {
	text-align: center;
}

i {
    /*color: #E5A823;*/
}

a {
    color: black;
}

.icon-bar li {
    display: inline-block;
    float: none;
    font-size: 15px;
    padding-right: 15px;
    left: 40px;
}

/* Tables */
thead {
	font-weight: bold;
	font-size: 15px;
}

table {
	border-collapse: collapse;
	width: 80%;
	height: auto;
}

table, th, td {
	border: 1px solid black;
}

td {
	vertical-align: bottom;
	padding: 5px;
}

th {
	text-align: left;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
/* Styles */
    .teamphoto {
	    position: relative;
	    max-width: 50%;
        height: auto !important;
    }
    .navbar-brand>img {
        height: 10%;
        padding: 0px;
        width: auto;
    }
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

    .body {
        width: 100%;
    }

    .teamphoto {
        height: 100px;
    }

    .location-info {
        padding: 5px;
    }

	.dues {
		width: 100%;
	}

	.home {
	    width: 100%;
	}

	.schedule {
	    width: 100%;
	}

	.contact {
	    width: 100%;
	}

	.roster {
	    width: 100%;
	}

	iframe {
		width: 100%;
	}

	.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
    	width: auto;
    	max-height: 150px;
    	margin: auto;
    	position: relative;
    }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid black; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid black;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	.roster td:nth-of-type(1):before { content: "Name"; }
	.roster td:nth-of-type(2):before { content: "Position"; }
	.roster td:nth-of-type(3):before { content: "Height"; }
	.roster td:nth-of-type(4):before { content: "Weight"; }
	.roster td:nth-of-type(5):before { content: "Year"; }
	.roster td:nth-of-type(6):before { content: "Hometown"; }

	.schedule td:nth-of-type(1):before { content: "Name"; }
	.schedule td:nth-of-type(2):before { content: "Opponent"; }
	.schedule td:nth-of-type(3):before { content: "Location"; }
	.schedule td:nth-of-type(4):before { content: "Kickoff Time"; }

	.contact td:nth-of-type(1):before { content: "Name"; }
	.contact td:nth-of-type(2):before { content: "Position"; }
	.contact td:nth-of-type(3):before { content: "Email"; }
	.contact td:nth-of-type(4):before { content: "Phone Number"; }

}


