.body {
    padding-top: 70px;
    width: 100%;
    margin: auto;
    position: relative;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #FFFAFA;
}

/* Navbar */
.navbar-brand {
	font-family: "Lato";
}

.logo {
	position: relative;
	max-height: 50px;
    height: auto !important;
}

.navbar {
	border: 1px;
	background-color: #005FA9;
}

.navbar a {
    color: #E5A823 !important;
}

.navbar .active a {
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.navbar .navbar-nav > li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 15px 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: #005FA9;
}

/* Footer */
footer {
	background-color: #939597;
}

.bg-dark {
  background-color: #222222;
  color: white;
}

h1, h2, h3, strong {
    color: #333;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

/* Tables */
.table-striped {
	background-color: #939597;
}

/* Home Page */
.home {
	color: #939597;
}

header {
  position: relative;
  min-width: 100%;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('/static/img/teamphotoofficial.jpg');
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

.about {
	padding: 5em 15em;
	background-color: #eeeeee;
}

.location-info {
	display: block;
	text-align: left;
	padding: 5em;
}

iframe {
	display: block;
	margin: auto;
	padding: 5em 1em;
}

/* Contact Page */
.contact {
    display: block;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	color: #939597;
}

.name {
	color: black;
	font-weight: bold;
}

.sponsors {
	max-height: 40%;
	width: auto;
}

/* Roster and Schedule Pages */
.roster, .schedule {
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
	/* Styles */
    .logo {
	    position: relative;
	    max-width: 20%;
        height: auto !important;
    }
    
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

    .navbar .active a {
    	border-bottom: none;
    }

    .about, .location-info{
    	padding: 1em;
    }

    iframe {
    	width: 100%;
    }

    .body, .home {
        width: 100%;
        padding-top: 40px;
    }

	.schedule, .contact, .roster{
	    width: 100%;
	    padding-top: 0em;
	}
}