{% extends "index.html" %}
{% set active_page = "home" %}

{% block body %}
<div class="home">
	<div>
		<img class="teamphoto" src="static/img/teamphoto.jpg">
	</div>

	
	<div class="container-fluid WallofFuckingText">

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus commodo quam vel tristique. Maecenas tempor tellus arcu, vitae elementum erat porttitor eget. Ut pretium consectetur facilisis. Suspendisse a erat quam. Etiam hendrerit viverra odio id aliquam. Cras congue risus at erat gravida hendrerit. Aenean accumsan mi in lobortis elementum. Integer suscipit egestas est, nec malesuada elit suscipit non.</p>

		<p>Proin molestie nisi et nunc pellentesque, nec malesuada mauris tincidunt. In et enim eget odio lobortis ornare. Duis eu tellus vel sem vehicula consectetur. In dapibus eu nisi non vestibulum. Nullam nunc nulla, sollicitudin in velit vitae, maximus interdum purus. Nulla facilisi. Curabitur maximus aliquam tellus eu faucibus. Nam bibendum auctor turpis.</p>

		<p>Vestibulum bibendum, turpis vel pellentesque tristique, purus velit consequat lectus, eget venenatis tellus quam eget libero. Suspendisse ac magna lobortis, egestas enim sed, condimentum lectus. Phasellus mattis velit odio, nec porttitor augue cursus in. Morbi ultricies leo purus, a fermentum tortor imperdiet lobortis. Curabitur id ligula eu justo faucibus gravida at et ipsum. Proin lacinia velit pharetra varius maximus. Nam accumsan sem quis velit volutpat, sit amet feugiat lorem convallis. Duis justo purus, euismod nec maximus quis, posuere id ante. Cras volutpat pharetra lectus vitae bibendum. Quisque molestie ex risus, ut pharetra metus laoreet ut. Curabitur eget erat dui. Etiam eget tincidunt tortor. Vivamus in tincidunt nibh. Etiam congue urna sit amet erat egestas varius. Suspendisse potenti.</p>

		<p>Proin a est molestie, tristique mi non, aliquam purus. Vestibulum tristique mauris id sem posuere, vel tempus lacus sodales. Sed id tortor sagittis, fermentum lacus sed, lacinia erat. Mauris vel sapien nibh. Duis pretium libero a nibh ullamcorper rutrum. Nam hendrerit et lorem ac rhoncus. Duis massa dui, malesuada non porta quis, mattis sit amet libero. Maecenas tellus sem, posuere laoreet viverra vulputate, maximus nec lectus. Pellentesque cursus, turpis non facilisis convallis, ipsum felis aliquet nulla, sit amet tempor justo diam vitae diam. Nulla a nibh ac mauris porttitor egestas et nec elit. In id semper velit. Praesent lobortis velit et nibh placerat iaculis. Ut quam sapien, dictum at efficitur in, mollis quis nisl. Nunc convallis vehicula cursus. Vestibulum augue nisi, varius sit amet tincidunt ut, molestie quis arcu. Sed faucibus porttitor vehicula.</p>

		<p>Proin in interdum ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eget est quis dui feugiat sagittis. Suspendisse commodo, augue a ullamcorper posuere, elit mi auctor nisi, imperdiet malesuada felis est a dolor. Nullam interdum condimentum turpis et posuere. Aliquam ullamcorper porta augue eget rutrum. Vivamus a semper purus. Sed tortor nulla, hendrerit quis pulvinar vel, ullamcorper et ligula. Sed pretium nec velit non vulputate. In mi libero, venenatis sed sapien eget, lacinia porta velit. Donec luctus pharetra eleifend. Fusce et porttitor felis. Vestibulum malesuada nibh in facilisis sodales. Curabitur finibus, justo id varius pretium, dui eros egestas diam, ac pellentesque metus tortor vitae nisl. Pellentesque finibus arcu elit, vitae lobortis urna consequat eu.</p>

	</div>
</div>
{% endblock %}