{% extends "index.html" %}
{% set active_page = "location" %}

{% block body %}
<div class="location container-fluid">
	<div>
		<div class="locationinfo">
			<center>
			<p>Our practice and match field is located at Spartan Stadium on
			<a href="https://www.google.com/maps/dir/''/san+jose+spartan+stadium/@37.3196469,-121.9383362,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808e3331dce260ed:0x8fd829805007db0c!2m2!1d-121.8682962!2d37.3196675">1251 S. 10th St. San Jose, CA. 95192</a></p>
			</center>
		</div>
	</div>

	<iframe width="600" height="450" frameborder="0" style="border:0"
	src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwdyYGbmuK-QJ5pbmUCFn7IKzOn2MqCw0&q=san+jose+spartan+stadium" allowfullscreen></iframe>

</div>
{% endblock %}
