{% extends "index.html" %}
{% block title %}San Jose State University Men's Rugby - Roster{% endblock %}
{% set active_page = "roster" %}
{% block content %}
<div class="roster">
    <center>
    <h3>Roster</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Year</th>
                <th>Hometown</th>
            </tr>
        </thead>
        {% for player in roster %}
        <tr>
            <td>{{ player.Name }}</td>
            <td>{{ player.Position }}</td>
            <td>{{ player.Year }}</td>
            <td>{{ player.Hometown }}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</div>
{% endblock %}