{% extends "index.html" %}
{% set active_page = "schedule" %}

{% block body %}
<div class="schedule">
	<center>
		<table>
			<thead class="schedule-table">
				<td>Date</td>
				<td>Opponent</td>
				<td>Location</td>
				<td>Kickoff Time</td>
			</thead>	

			{% for item in schedule %}
			<tr class="table-rows">
				<td>{{ item.Date }}</td>
				<td>{{ item.Team }}</td>
				<td>{{ item.Location }}</td>
				<td>{{ item.Time }}</td>
			</tr>
			{% endfor %}
		</table>

	<br>

	<p>Please check <a href="http://pacwestrugby.com">pacwestrugby.com</a> for more information</p>
	</center>
</div>
{% endblock %}
