{% extends "index.html" %}
{% block title %}San Jose State University Men's Rugby - Schedule{% endblock %}
{% set active_page = "schedule" %}
{% block content %}
<div class="schedule">
    <center>
    <h3>2016-2017 Schedule</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Opponent</th>
                <th>Location</th>
                <th>Kickoff Time</th>
            </tr>
        </thead>
        {% for item in schedule %}
        <tr>
            <td>{{ item.Date }}</td>
            <td>{{ item.Team }}</td>
            <td>{{ item.Location }}</td>
            <td>{{ item.Time }}</td>
        </tr>
        {% endfor %}
    </table>
    </center>
</div>
{% endblock %}